---
# Front matter comment to ensure Jekyll properly reads file.
---

// Variables
$blue:      #6a9fb5; // home
$magenta:   #aa759f; // about
$turquoise: #73b5aa; // vietnam
// $tomato:    #ad4140;
// $orange:    #d4843e;
// $persimmon: #f5bf6f;
// $moss:      #8faa54;


// General styles
a, a.sidebar-nav-item {
  transition: .3s;
  transition-property: color, opacity;

  &:hover, &:focus {
    text-decoration: none;
  }

  &:hover {
      opacity: .8;
  }
}

// Sidebar
.sidebar {
  a {
    &:hover { color: darken(#fff, 10%); }
    &:active, &:focus { color: darken(#fff, 20%); }
  }

  h1 {
    font-family: 'Inder', sans-serif;
  }

  .copy {
    font-size: 10px;
  }

  .social-media {
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline;
      margin-right: 10px
    }
  }
}

// Accent color per page - same logic as in hyde but not limited to specific colors
$page-colors: (
  home: $blue,
  about: $magenta,
  vietnam: $turquoise
);

@each $page, $color in $page-colors {
  .#{$page} {
    .sidebar {
      background-color: $color;
    }

    .content a,
    .related-posts li a:hover {
      color: $color;
    }

    .content a {
      &:active, &:focus {
        color: darken($color, 10%);
      }
    }

  }
}
