<!DOCTYPE html>
<html lang="en-us">

    {% include head.html %}

    {% if page.title == "Home" %}
        <body class="{{ site.colors.cyan }} home">
    {% elsif page.title == "About" %}
        <body class="{{ site.colors.orange }} about">
    {% elsif page.title == "Projects" %}
        <body class="{{ site.colors.blue }} projects">
    {% elsif page.title == "Resume" %}
        <body class="{{ site.colors.magenta }} resume">
    {% endif %}


        {% include sidebar.html %}

        <div class="content container">
          {{ content }}
        </div>

  </body>
</html>
